@page "/leagues"

@using ProyectoFutbol.DB
@using ProyectoFutbol.Builders
@using Microsoft.Extensions.Configuration

@inject IPF_DataAcess _data
@inject IConfiguration _config

<h3>Leagues</h3>

@if (leagues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var league in leagues)
    {

    }
}






@code {
    List<Leagues> leagues;


    protected override async Task OnInitializedAsync()
    {
        //await _data.loadData

        string sql = "select * from leagues";

        leagues = await _data.LoadData<Leagues, dynamic>(sql, new { }, _config.GetConnectionString("default"));



    }

}
